<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-table.css}">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap3/js/bootstrap.js"></script>
    <link rel="stylesheet" href="js/bootstrap3/css/bootstrap.css">
    <script src="js/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <link rel="stylesheet" href="js/bootstrap-treeview/bootstrap-treeview.min.css">
    <script src="js/bootStrap-addTabs/bootstrap.addtabs.js"></script>
    <link rel="stylesheet" href="js/bootStrap-addTabs/bootstrap.addtabs.css">

    <link rel="stylesheet" href="js/bootstrap-table/bootstrap-table.css">
    <script src="js/bootstrap-table/bootstrap-table.js"></script>
    <script src="js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
</head>
<body>

<br><br><br><br><br>
<button type="button" class="btn btn-info" onclick="addBook()">新增图书</button>

<div id="toolbar">
    <form class="form-inline">
        <div class="form-group">
            <label class="col-sm-4 control-label">机构名称</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="jigouName" placeholder="请输入机构名称" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <button type="button" onclick="search()" class="btn btn-info glyphicon glyphicon-search">搜索</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <button type="button" onclick="addBootbox()" class="btn btn-warning glyphicon glyphicon-plus">新增</button>
            </div>
        </div>
    </form>
</div>

<table id="book"></table>
</body>
<script type="text/javascript">
    $(function(){
        selectBookList();
    })

    function selectBookList(){

        $("#book").bootstrapTable({
            toolbar:'#toolbar',
            url: "selectGoodsList",
            pagination:true, //是否展示分页
            pageList:[2,5, 10, 20, 50],//分页组件
            pageNumber:1,
            pageSize:2,//默认每页条数
            showColumns:false,//是否显示 内容列下拉框
            showToggle:false,//是否显示 切换试图（table/card）按钮
            showPaginationSwitch:false,//是否显示 数据条数选择框
            showRefresh:false,//是否显示刷新按钮
            detailView:false,//设置为 true 可以显示详细页面模式。
            showFooter:false,//是否显示列脚
            clickToSelect: true, //是否启用点击选中行
            sidePagination:'server',//分页方式：client客户端分页，server服务端分页（*
            queryParams:function(){
                return {
                    page:this.pageNumber,
                    rows:this.pageSize
                };
            },
            columns: [
                /* field 属性值和 对象的属性名保持一致 */
                {field:'xxx',title:'',checkbox:true,width:$(this).width() * 0.1},
                {field:'goodsId',title:'商品编号',width:$(this).width() * 0.2},
                {field:'goodsName',title:'商品名称',width:$(this).width() * 0.2},
                {field:'goodsImg',title:'商品图片',width:$(this).width() * 0.2,
                    formatter:function (value,row,index) {
                        return "<img src='"+value+"' width='50px' height='50px'>"
                    }
                },
                {field:'goodsPrice',title:'商品价格',width:$(this).width() * 0.2},
                {field:'brandName',title:'商品品牌',width:$(this).width() * 0.2},
                {field:'goodsProperty',title:'商品属性',width:$(this).width() * 0.2},
                {field:'goodsNum',title:'库存状态',width:$(this).width() * 0.2},
                {field:'status',title:'商品状态',width:$(this).width() * 0.2,
                    formatter:function(value,row,index){
                        return value == 1 ? "上架中" : "下架";
                    }
                },
                {field:'cz',title:'操作',width:$(this).width() * 0.2,
                    formatter:function(value,row,index){
                        return "<a href='javascript:deleteBook("+row.id+")' class='btn btn-primary' style='background: #f03b35;color: #fff'   role='button'>删&nbsp除</a>&nbsp;&nbsp;&nbsp;" +
                            " <a href='javascript:updateBook("+row.id+")' class='btn btn-primary' style='background: #f27d78;color: #fff'   role='button'>修&nbsp改</a>"
                    }
                }]
        });
    }

    function search() {
        $("#book").bootstrapTable("refresh")
    }

    //删除
    function deleteBook(id){

        $.ajax({
            url:"../deleteInfo",
            type:"post",
            data:{id:id},
            success:function() {

                alert("删除成功！！！");
                $("#book").bootstrapTable('refresh');

            }
        })
    }


    function updateBook(id){

        location.href = "../updateInfoById?id="+id;
    }


    /* function addBook() {

         location.href = "../addBook";
     }

     function updateBook(id) {

         location.href = "../selectById?id="+id;
     }

     */
</script>
</html>