<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-table.css}">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap3/js/bootstrap.js"></script>
    <link rel="stylesheet" href="js/bootstrap3/css/bootstrap.css">
    <script src="js/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <link rel="stylesheet" href="js/bootstrap-treeview/bootstrap-treeview.min.css">
    <script src="js/bootStrap-addTabs/bootstrap.addtabs.js"></script>
    <link rel="stylesheet" href="js/bootStrap-addTabs/bootstrap.addtabs.css">
    &lt;!&ndash; 引入bootbox.js &ndash;&gt;
    <script src="js/bootbox/bootbox.js"></script>
    <link rel="stylesheet" href="js/bootstrap-table/bootstrap-table.css">
    <script src="js/bootstrap-table/bootstrap-table.js"></script>
    <script src="js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>-->



</head>
<body>
<input type="hidden" name="id" id="uid" th:value="${userid}" />
<table id="jueseTable" class="table"></table>

<script>

    $(function(){
        initjueseTable();
    })

    var uid = $("#uid").val();

    function initjueseTable(){
        $("#jueseTable").bootstrapTable({
            url:'initjueseTable?userid='+uid,
            toolbar:'#toolbar',
           /* pagination:true, //是否展示分页
            pageList:[10, 20, 50, 100],//分页组件
            pageNumber:1,
            pageSize:5,//默认每页条数*/
            method:'post',
            contentType:'application/x-www-form-urlencoded',//post请求按照表单方式
            striped:true,//斑马线
          /*  sidePagination:'client',//分页方式：client客户端分页，server服务端分页（*
            queryParams:function(){
                return {
                    page:this.pageNumber,
                    rows:this.pageSize,
                    coursetitle: $("#coursetitle").val(),
                };
            },*/
            columns:[
                {field:'selections',checkbox:true, formatter:function(value,row,index){
                            return {
                                checked : value//设置选中
                            };
                    }},
                {field:'id',title:'编号'},
                {field:'name',title:'角色'},
            ]
        });
    }

</script>


</body>
</html>